@page
@model IndexModel
@{
    ViewData["Title"] = "Ustabil";
}

<div class="container">
    <video width="1140" height="400" controls></video>
</div>

<div id="border-div"></div>

<div class="container text-center" id="aboutus-div">
    <h1>Om VITEC</h1>
</div>
