@page
@model IndexModel
@{
    ViewData["Title"] = "Ustabil";
}

<div class="text-center">
    <h1 class="display-4">Wow Classic er lit</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Class guides, rotations etc.</a>.</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Default bootstrap i .core?</h1>
            </div>
            <div class="col-md-6">
                <h1>Det kan du tro.</h1>
            </div>
        </div>
    </div>
</div>
