@page
@model _3_semester_projekt.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <div class="row justify-content-center mb-1">
        <input placeholder="Brugernavn" />
    </div>

    <div class="row justify-content-center mb-1">
        <input placeholder="Kodeord" />
    </div>

    <div class="row justify-content-center">
        <button class="btn-dark">Login</button>
    </div>
</div>



