@page
@model _3_semester_projekt.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="profile">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h2>Din Profil</h2>
            <label>Fornavn</label>
            <input type="mt-3" placeholder="Admin" />
            <label>Efternavn</label>
            <input type="mt-3" placeholder="Admin" />
            <label>Fødselsdato</label>
            <input type="mt-3" placeholder="23/03/1987" />
            <label>Adresse</label>
            <input type="mt-3" placeholder="Odensegade 14" />
            <label>by</label>
            <input type="mt-3" placeholder="Odense" />
            <label>Postnummer</label>
            <input type="mt-3" placeholder="5000" />
            <form method="get">
                <button type="submit" id="button-login" class="btn btn-info" asp-page="Profil">Gem Information</button>
            </form>
            <p></p>
            <form method="get">
                <button type="submit" id="button-login" class="btn btn-danger" asp-page="/Forside">Mine Pakker</button>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>